<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
        content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>Laboratorio Patito</title>
    <!-- Bootstrap core Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/estiloLogin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4 text-center">
                <h1 class='text-white'>Login</h1>
                <div class="contenedor-form">
                    <div class="form-login">
                        <form action="/accesar" method="post">
                            <h4>Laboratorio Patito</h4>
                            </br>
                            <input name="usuario" type="text" id="userName" class="form-control input-sm chat-input"
                                placeholder="username" />
                            </br></br>
                            <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input"
                                placeholder="password" />
                            </br></br>
                            <input class="boton" type="submit" value="Ingresar">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </br></br></br>
    </div>
</body>
</html>