<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloSecretaria.css">
    <title>Ingreso de Examen</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloSecretaria">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Secretaría</span></h1>
                </a>
                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Ingresar Examen</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form action="/agregarExamen" method="post">
                        <input name="id" id="cui" type="number" placeholder="Ingrese ID Examen">
                        <br /><br />
                        <input name="cui" id="cui" type="number" placeholder="Ingrese CUI Paciente">
                        <br /><br />
                        <input name="fecha" id="fecha" type="date" placeholder="Ingrese Fecha de Examen">
                        <br /><br />
                        <input name="medico" id="medico" type="text" placeholder="Codigo de Medico de Referencia ('0' si no hay)">
                        <br /><br />
                        <div class="contenedor-boton">
                            <div class="boton">
                                <input type="submit" value="Ingresar Examen">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>

</html>