<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloLaboratorista.css">
    <title>Ingresar Resultado</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloLaboratorista">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Laboratorista</span>
                    </h1>
                </a>

                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Ingresar Resultados</h2>
            <div class="formulario">
                <div class="contenedor-form">
                    <form action="/agregarResultado" method="post">
                        <input name="id" id="resultado" type="number" placeholder="Ingrese ID de Resultado">
                        <br /><br />
                        <input name="id_examen" id="examen" type="number" placeholder="Ingrese ID de Exámen">
                        <br /><br />
                        <div class="contenedor-boton">
                            <div class="boton">
                                <input type="submit" value="Ingresar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>

</html>