<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/estiloAdministrador.css">
    <title>Modulo Administracion</title>
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo__nombre no-margin centrar-texto">Laboratorio<span class="logo__bold">Patito</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="/formEmpleado" class="navegacion__enlace">Ingresar Empleado</a>
                    <a href="/formUsuario" class="navegacion__enlace">Asignar Usuario</a>
                    <a href="/formMedico">Ingresar Médico</a>
                    <a href="/vistaEmpleados">Empleados</a>
                    <a href="/vistaMedicos">Médicos</a>
                    <a href="/formTipoExamen">Ingresar Tipo Examen</a>
                    <a href="/formCampo">Ingresar Campo</a>
                    <a href="/moduloReportes">Reportes</a>
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Módulo De Administración</h2>
        </div>
    </header>
</body>
</html>