<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/estiloSecretaria.css">
    <title>Pacientes</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloSecretaria">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Secretaría</span>
                    </h1>
                </a>
                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Pacientes</h2>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <td>CUI</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Accion</td>
                </tr>
                <tr>
                    <td>12345678</td>
                    <td>Paciente1</td>
                    <td>Apellido1</td>
                    <td><a class="editar" href="./editarPaciente.html">Editar</a><a class="eliminar" href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td>87654321</td>
                    <td>Paciente2</td>
                    <td>Apellido2</td>
                    <td><a class="editar" href="./editarPaciente.html">Editar</a><a class="eliminar" href="#">Eliminar</a></td>
                </tr>
            </table>
        </div>
    </header>
</body>

</html>