<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/estiloAdministrador.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/moduloReportes">
                    <h1 class="logo__nombre no-margin centrar-texto">Módulo <span class="logo__bold">Reportes</span>
                    </h1>
                </a>
                <nav class="navegacion">
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Ganancias</h2>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <td>ID Examen</td>
                    <td>Médico</td>
                    <td>Correo Médico</td>
                </tr>
                <% for(let i=0; i<examenes.length; i++){ %>
                    <tr>
                        <td>
                            <%=examenes[i].idExamen%>
                        </td>
                        <td>
                            <%=examenes[i].nombreMedico + ' ' +examenes[i].apellidoMedico%>
                        </td>
                        <td>
                            <%=examenes[i].correoMedico%>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </header>
</body>

</html>